/*  1 title ====================================================================================================================== */
/* #cont_nav {background-color: #f6fdff;} */
.cont_tit1 {background-color: rgba(34, 14, 216, 0.2); height: 150px;}
/* #cont_ban {background-color: #dceff7;}
#cont_cont {background-color: #f6fdff;} */


/* 2 navbar ====================================================================================================================== */
nav > a{ font-weight: bold;
}

.mpaa{
    /* background: rgb(197, 194, 194); */
    background-color: #3399cc;
    color: #ffffff;
}


/* 3 컨텐츠 레이아웃 ================================================================================================= */
#cont_nav {background-color: #f6fdff;}
#cont_tit {background-color: #EAF7FD; background: rgba(154, 216, 244, 0.2); /* ie9부터 적용*/}
#cont_ban {background-color: #dceff7;}
#cont_cont {background-color: #f6fdff;}

/* 전체 메뉴 */
/* .nav {overflow: hidden;} */
.nav > div {float: left;} 
/* .nav > div:last-child {width: 20%;} ie9부터 사용가능 */
.nav > div h3 {font-size: 18px; color:#25a2d0; margin-bottom: 5px; padding: 0;     }
.nav > div ul {padding: 0; margin: 0;}
.nav > div ul li {float: left;}
.nav > div.last ul li {width: 100%;}
/* .nav > div ul li a:hover {text-decoration: underline;} */



/* 4 게시판 제목   ============================================================================================================ */

/* 컨텐츠 박스 요소 width = padding + margin + border */
.cont {overflow: hidden; }
.cont .column {position: relative; float: left; border: 1px solid #ccc;  height:500px;}
.cont .col1 {border-right: 1px solid #c8c8c8; }
.cont .col2 {border-right: 1px solid #c8c8c8; }
.cont .col3 {margin-right: 0; padding-right: 0;}

.cont .column .ico_img{ display:block; width: 51px; height: 47px; }
.cont .column .ico_tit{ padding-left: 70px; padding-right: 10px; font-size: 20px; color: #2c94c4;}
.cont .column .ico_desc{ padding-left: 70px; padding-right: 10px; border-bottom: 1px solid #d0d0d0; padding-bottom: 15px; margin-bottom: 15px;}


.cont .col1 .ico_img{background: url(../img/icon_5.JPG) no-repeat; position:absolute; top: 0; left: 0; }
.cont .col2 .ico_img{background: url(../img/icon_5.JPG) no-repeat; position:absolute; top: 0; left: 0; }
.cont .col3 .ico_img{background: url(../img/icon_5.JPG) no-repeat; position:absolute; top: 10px; left: 10px; }


/* 5 게시판 1 ================================================================================================================*/
.notice {position: relative; }
.notice h4{ padding: 0; font-size: 20px; color: #0093bd; padding-bottom: 1px; font-weight: bold;}
.notice ul {}
.notice ul li{ overflow: hidden; text-overflow: ellipsis; white-space: nowrap; background: url(../img/dot.JPG) no-repeat 0 10px; padding-left: 17px;}    
/* //한줄로 바꾸기 */
.notice ul li a{}
.notice a.more { position: absolute; right: 0; top: 0; display: block; background: url(../img/plus.JPG); }
.notice img { position: absolute; right: 0; top: 0;}


.cont .column .ico_img {display: block; width: 60px; height: 60px; background: url(../img/icon.png); position: absolute; left: 0; top: 0;}
.cont .column .ico_tit {padding-left: 70px; font-size: 16px; color: #2c94c4; font-weight: bold;}
.cont .column .ico_desc {padding-left: 70px; border-bottom: 1px solid #d0d0d0; padding-bottom: 15px; margin-bottom: 15px;}


/* 5 게시판 2 ================================================================================================================*/
.notice2 {position: relative; }
.notice2 h4{ padding: 0; font-size: 20px; color: #0093bd; padding-bottom: 1px; font-weight: bold;}
.notice2 ul {}
.notice2 ul li{ }    
/* //한줄로 바꾸기 */
.notice2 ul li a{float: left; width: 80%;overflow: hidden; text-overflow: ellipsis; white-space: nowrap; background: url(../img/dot.JPG) no-repeat 0 10px; padding-left: 17px;}
.notice2 ul li span{ float:right; width: 20%; text-align: right;}

.notice a.more { position: absolute; right: 0; top: 0; display: block; background: url(../img/plus.JPG); }
.notice2 img { position: absolute; right: 0; top: 0;}



/* 6  탭 메뉴 ================================================================================================================*/
.tab_menu {position: relative; border: 1px solid #ccc; padding: 8px;  height: 150px;}
.tab_menu ul {overflow: hidden; border-bottom: 1px solid #ccc;}
.tab_menu ul li {float: left; border: 1px solid #ccc; margin-right: -1px; margin-bottom: -1px;}
.tab_menu ul li a {padding: 5px 10px; display: block;}
.tab_menu ul li ul {position: absolute; left:0; top: 48px; border: 0; width: 400px;}
.tab_menu ul li ul li {float: none; border: 0; background: url(../img/dot.JPG) no-repeat 0px 8px;}
.tab_menu ul li ul li a {padding: 0 0 3px 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%;}
.tab_menu ul li.active {background: #2c94c4;}
.tab_menu ul li.active a {color: #fff;}
.tab_menu ul li.active ul li a {color: #333;} 


/*   컨텐츠 요소를 보이지 않게 하는 방법
    display:none;  display:block   (영역이 사라짐)
    visibility:hidden;  -   visibility:focus-visible;  (영역유지)
    opacity: 0;     -opacity: 1; (영역유지)
    overflow:hidden;
*/



/* 6  게시판4  ================================================================================================================*/
.notice4 {position: relative; border: 1px solid #ccc;}
.notice4 h4 {font-size: 14px; color: #0093bd; border-bottom: 1px solid #ccc; font-weight: 700; padding: 8px 10px;}
.notice4 h4 em {color: #cf3292;}
.notice4 ul {padding: 10px;}
.notice4 li {overflow: hidden; background: url(../img/dot.JPG) no-repeat 0px 8px; padding-left: 8px; padding-bottom: 2px; }
.notice4 li a {float: left; width: 80%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.notice4 li span {float: right; width: 20%; text-align: right;}
.notice4 a.more {position: absolute; right: 9px; top: 9px;}


/* 7 볼랜드 툴로 3D 텍스트 만들기 ================================================================================================================*/
.item-lists{
    width: auto;
    /* width: 100%;
    max-width: 375px; */
    border: 1px solid rgb(177, 154, 154);
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}

.item-lists > h1 {
    font-size: 18px;
    padding: 12px ;
    margin: 12px 0;
    border-bottom: 1px solid #d0d0d0;
}

.item{
    border-radius: 8px;
    padding: 12px;
    transition: 0.3s;
}

.item:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0,.1);
}

.item img{
    float:left;
    margin-right: 8px;
    border-radius: 10px;
}

.item h2{
    font-size: 15px;
    font-weight: bold;
    line-height: 1.4;
    margin-top: 4px;
    margin-bottom: 4px;
}

.clear{
    clear: both;
}


/* 8 footer =====================================================================================================================================*/

/* 푸터 */
.footer {padding: 25px 0; text-align: center;}
.footer ul {margin-bottom: 20px;}
.footer li {position: relative; display: inline; padding: 0 7px 0 10px;}
.footer li:before {content: ''; width: 1px; height: 12px; background: #ccc; position: absolute; left: 0; top: 2px;}
.footer li:first-child:before {width: 0; height: 0;}
.footer .w3c {margin-top: 15px;}


/* =============참고용================================================================================================= */
/* =============참고용================================================================================================= */
/* =============참고용================================================================================================= */
#aaaaa{
    box-sizing: border-box;
    border: 1px solid red;
}

.aaaaa:nth-child(2n-1){
    boarder : 10px solid red;
}

.aaaaa:nth-child(1){
    boarder : 10px solid red;
    top:0;
    left: 0;
    z-index: 0;
}
.aaaaa:nth-child(2){
    boarder : 10px solid red;
    top:0;
    left: 0;
    z-index:1;
}
.aaaaa:nth-child(3){
    boarder : 10px solid red;
    top:0;
    left: 0;
    z-index: 2;
}
