
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>부트스트랩5</title>
    
    <link rel="stylesheet" href="/static/css/main.css">
        
    <!--  slick-carousel css  -->
    <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <!--  bootstrap  css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/img"> 
    
    
    <!--  bootstrap  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" 
        crossorigin="anonymous">
    </script>

    <!--  jquery   slick같은 라이브러리보다 위에 있어야함    -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
        crossorigin="anonymous">
    </script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 

  <style>
    /* Make the image fully responsive */
    .carousel-inner img {
      width: 100%;
      height: 100%;
    }
    </style>

</head>

<body>

<div class="container mt-3">

    <h2>Carousel</h2>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
 		<ul class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ul> 
<!-- <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
     	    </div>  -->
            
        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="img/11.jpg" alt="Los Angeles" width="1100" height="500">
            </div>
            <div class="carousel-item">
                <img src="img/22.jpg" alt="Chicago" width="1100" height="500">
            </div>
            <div class="carousel-item">
                <img src="img/33.jpg" alt="New York" width="1100" height="500">
            </div>
            <div class="carousel-item">
                <img src="img/44.jpg" alt="New York" width="1100" height="500">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>

</div>
    
<!-- header NAV ============================================================================================================= -->









<!-- card      ========================================================================================================= -->
<section class="container">
    <div class="p-3 pt-md-5 pb-md-4 my-5">
        <h2 class="cfs-5 text-center">Bootstrap</h2>
        <p class="text-right">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, sed repellendus repellat beatae ab iste in, perspiciatis nobis, qui minus voluptas. Quidem voluptatem voluptas accusamus quasi ea exercitationem odit quos!</p>
    </div>
    <div class="d-flex row">
    <div class="col-sm-12 col-md-6 col-lg-3 text-center my-3">                      <!-- row g-3 세로로 갭 3만큼  -->
        <div class="card">
            <div class="card-header p-4 "><h2>JS</h2></div>
            <div class="card-body p-5 ">
                <H3 class="card-title card-text-secondary">NoJquery</H3>
                <ul class="list-unstyled my-4">
                    <li>no Jquery</li>
                    <li>Jquery slow</li>
                </ul>
            </div>    
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 text-center my-3">                      <!-- row g-3 세로로 갭 3만큼  -->
        <div class="card">
            <div class="card-header p-4 "><h2>JS</h2></div>
            <div class="card-body p-5 ">
                <H3 class="card-title card-text-secondary">NoJquery</H3>
                <ul class="list-unstyled my-4">
                    <li>no Jquery</li>
                    <li>Jquery slow</li>
                </ul>
            </div>    
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 text-center my-3">                      <!-- row g-3 세로로 갭 3만큼  -->
        <div class="card">
            <div class="card-header p-4 "><h2>JS</h2></div>
            <div class="card-body p-5 ">
                <H3 class="card-title card-text-secondary">NoJquery</H3>
                <ul class="list-unstyled my-4">
                    <li>no Jquery</li>
                    <li>Jquery slow</li>
                </ul>
            </div>    
        </div>
    </div>        
    <div class="col-sm-12 col-md-6 col-lg-3 text-center my-3">                      <!-- row g-3 세로로 갭 3만큼  -->
        <div class="card">
            <div class="card-header p-4 "><h2>JS</h2></div>
            <div class="card-body p-5 ">
                <H3 class="card-title card-text-secondary">NoJquery</H3>
                <ul class="list-unstyled my-4">
                    <li>no Jquery</li>
                    <li>Jquery slow</li>
                </ul>
            </div>    
        </div>
    </div>
</section>
    
<!-- JQuery Slider ================================================================================================================ -->
<!-- 
   
<section class="container">
    <div class="p-3 pt-md-5 pb-md-4 my-5">
        <h2 class="cfs-5 text-center">Bootstrap</h2>
        <p class="text-right">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, sed repellendus repellat beatae ab iste in, perspiciatis nobis, qui minus voluptas. Quidem voluptatem voluptas accusamus quasi ea exercitationem odit quos!</p>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
    
    
        <div class="carousel-inner">
		  <div class="carousel-item active">
		    <img src="/img/1.jpg" class="d-block w-100" alt="#">
		  </div>
		  <div class="carousel-item">
		    <img src="/img/2.jpg" class="d-block w-100" alt="#">
		  </div>
		  <div class="carousel-item">
		    <img src="/img/3.jpg" class="d-block w-100" alt="#">
		  </div>
		  <div class="carousel-item">
		    <img src="/img/4.jpg" class="d-block w-100" alt="#">
		  </div>
        </div>
        
        
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>              -->










<!-- JQuery Slider ================================================================================================================ -->



<!--    LAY OUT TEST     ============================================================================================================= -->

<h1 class="text-primary">Bootstrap5</h1>
<h1 class="text-secondary">Bootstrap5</h1>
<h1 class="text-danger">Bootstrap5</h1>
<button class="btn btn-primary p-3">Button</button>
<button class="btn btn-primary bp-5">Button</button>


<div class="d-flex row">           <!-- d-flex : display flexbox -->
    <div class="col-md-4 col-lg-4 bg-success">1</div>
    <div class="col-md-4 col-lg-4 bg-primary mb-3">2</div>
    <div class="col-md-4 col-lg-4 bg-danger mb-3">3</div>
</div>

<div class="row">
    <div class="col-md-4 col-lg-4 bg-success">1</div>
    <div class="col-md-4 col-lg-4 bg-primary mb-3">2</div>
    <div class="col-md-4 col-lg-4 bg-danger mb-3">3</div>
</div>


<div class="d-flex flex-column">
    <div class="col-md-4 col-lg-4 bg-success mb-3">1</div>
    <div class="col-md-4 col-lg-4 bg-primary p-3 mb-3">2</div>
    <div class="col-md-4 col-lg-4 bg-danger p-3 mb-3">3</div>
</div>

<div class="row bg-danger">
    <div>1</div>
</div>
<!-- ================================================================================================================ -->

</body>
</html>